<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  



<%- include('partials/header') -%>

  <div class="container flex flex-wrap ">
<button class=" m-3 btn btn-primary" id = "test" type="submit">test this</button>
<!--Card1-->
    <div class="m-3 card w-96 bg-base-100 shadow-xl">
        <a href="https://samara-co.com/en" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1625670413987-0ae649494c61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Samara & Co
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Samara & Co represents over 100 eco-friendly consumer and corporate brands to give them access to new market segments they would not be able to access otherwise</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Wholesale Retail</div> 
      <div class="badge badge-outline">Products</div>
    </div>
   
  </div>
 </a>
</div>

<!--Card2-->
<div class="m-3 card w-96 bg-base-100 shadow-xl">
   <a href="www.sharegracefarms.com" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1597817109745-c418f4875230?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGVjb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Grace Farms Foods LLC
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Welcome to Grace Farms. We are delighted to share our signature teas and coffees with you. Grace Farms is the only premium tea and coffee company that gives back 100% of profits to ending forced labor worldwide.</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Food</div> 
      <div class="badge badge-outline">Tea and Coffee Products</div>
    </div>
  </div>
  </a>
</div>
<div class=" m-3 card w-96 bg-base-100 shadow-xl">
  <a href="www.sharegracefarms.com" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1503278501277-e50457741130?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZWNvJTIwYmVkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Eco Bed" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Ecosa
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>At Ecosa, we value sleep - and we know you do too.We’re committed to using only the highest quality materials that are good for you and good for the environment </p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Home</div> 
      <div class="badge badge-outline">Sleep Products</div>
    </div>
   
  </div>
    
  </a>
 </div>
 

     <% posts.forEach( el=> { %>
      <div class=" m-3 card w-96 bg-base-100 shadow-xl" data-id="<%=el._id%>">
         <a href= "/post/<%=el._id %>" target="_blank">
             <figure><img src="https://images.unsplash.com/photo-1563697092941-f17038b46152?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZWNvfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="Eco Bed" /></figure>
        <div class="card-body">
            <h2 class="card-title">
            <%= el.name %>
            <div class="badge badge-secondary">NEW</div>
            </h2>
              <p><%= el.location %></p>
              <p><%= el.description %></p>
        </div>
          </a>
      
             
        
      </div>
  
    <% }) %>



 </div>
 <script src="/js/feed.js"></script>


</body>
</html>