<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  



<%- include('partials/header') -%>
<form class="flex items-center">   
    <label for="simple-search" class="sr-only">Search</label>
    <div class="ml-7 relative w-80">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
       

       <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
    </div><!--
    <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        <span class="sr-only">Search</span>-->
    </button> 
</form>

  <div class="container flex flex-wrap ">

<!--Card1-->
    <div class="m-3 card w-96 bg-base-100 shadow-xl">
        <a href="https://samara-co.com/en" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1625670413987-0ae649494c61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Samara & Co
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Samara & Co represents over 100 eco-friendly consumer and corporate brands to give them access to new market segments they would not be able to access otherwise</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Wholesale Retail</div> 
      <div class="badge badge-outline">Products</div>
    </div>
   
  </div>
 </a>
</div>

<!--Card2-->
<div class="m-3 card w-96 bg-base-100 shadow-xl">
   <a href="www.sharegracefarms.com" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1597817109745-c418f4875230?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGVjb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Grace Farms Foods LLC
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Welcome to Grace Farms. We are delighted to share our signature teas and coffees with you. Grace Farms is the only premium tea and coffee company that gives back 100% of profits to ending forced labor worldwide.</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Food</div> 
      <div class="badge badge-outline">Tea and Coffee Products</div>
    </div>
  </div>
  </a>
</div>
<div class=" m-3 card w-96 bg-base-100 shadow-xl">
  <a href="www.sharegracefarms.com" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1503278501277-e50457741130?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZWNvJTIwYmVkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Eco Bed" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Ecosa
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>At Ecosa, we value sleep - and we know you do too.We’re committed to using only the highest quality materials that are good for you and good for the environment </p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Home</div> 
      <div class="badge badge-outline">Sleep Products</div>
    </div>
   
  </div>
    
  </a>
 </div>
 

     <% posts.forEach( el=> { %>
      <div class=" m-3 card w-96 bg-base-100 shadow-xl" data-id="<%=el._id%>">
         <a href= "/post/<%=el._id %>" target="_blank">
             <figure><img src="https://images.unsplash.com/photo-1563697092941-f17038b46152?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZWNvfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="Eco Bed" /></figure>
        <div class="card-body">
            <h2 class="card-title">
            <%= el.name %>
            <div class="badge badge-secondary">NEW</div>
            </h2>
              <p><%= el.location %></p>
              <p><%= el.description %></p>
        </div>
          </a>
      
             
        
      </div>
  
    <% }) %>



 </div>
 <script src="/js/feed.js"></script>


</body>
</html>