<%- include('partials/header') -%>

  <div class="container flex flex-wrap ">


 
<!--Card1-->
    <div class="m-3 card w-96 bg-base-100 shadow-xl">
        <a href="https://samara-co.com/en" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1625670413987-0ae649494c61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Samara & Co
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Samara & Co represents over 100 eco-friendly consumer and corporate brands to give them access to new market segments they would not be able to access otherwise</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Wholesale Retail</div> 
      <div class="badge badge-outline">Products</div>
    </div>
   
  </div>
 </a>
</div>

<!--Card2-->
<div class="m-3 card w-96 bg-base-100 shadow-xl">
   <a href="www.sharegracefarms.com" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1597817109745-c418f4875230?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGVjb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="Forest" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Grace Farms Foods LLC
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>Welcome to Grace Farms. We are delighted to share our signature teas and coffees with you. Grace Farms is the only premium tea and coffee company that gives back 100% of profits to ending forced labor worldwide.</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Food</div> 
      <div class="badge badge-outline">Tea and Coffee Products</div>
    </div>
  </div>
  </a>
</div>
<div class=" m-3 card w-96 bg-base-100 shadow-xl">
  <a href="www.sharegracefarms.com" target="_blank">
  <figure><img src="https://images.unsplash.com/photo-1503278501277-e50457741130?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZWNvJTIwYmVkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Eco Bed" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Ecosa
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>At Ecosa, we value sleep - and we know you do too.We’re committed to using only the highest quality materials that are good for you and good for the environment </p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Home</div> 
      <div class="badge badge-outline">Sleep Products</div>
    </div>
  </div>
  </a>
 </div>
 

     <% posts.forEach( el=> { %>
      <div class=" m-3 card w-96 bg-base-100 shadow-xl" data-id="<%=el._id%>">
         <a href= "/post/<%=el._id %>" target="_blank">
             <figure><img src="https://images.pexels.com/photos/421999/pexels-photo-421999.jpeg?auto=compress&cs=tinysrgb&w=1200" alt="Eco Bed" /></figure>
        <div class="card-body">
            <h2 class="card-title">
            <%= el.name %>
            <div class="badge badge-secondary">NEW</div>
            </h2>

               
                <p><%= el.location %></p>
              <p><%= el.description %></p>
        </div>     
         </a>
      </div>
  
    <% }) %>

  <!--<div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <!--<img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>-->

 </div>
<%- include('partials/footer') -%>