<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--FontAwesome and Daisy UI-->
 
  <script src="https://kit.fontawesome.com/46ad77d0fe.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

</head>

<%- include('partials/postHeader') -%>
<body>
<div class="bg-white py-12" style="background-image: url()";>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900"><%= post.website %></p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto"><%= post.description %></p>
    </div>
  </div>   
 
</div>

   <a class="btn btn-primary m-8" href="/feed">Return to Directory</a>
  <i class="fa-regular fa-trash-can"></i>



<!--Add Review Form-->


      <div class="container mt-8 flex flex-col justify-center items-center">
 
      <div class="card-body m-3 card w-96 bg-base-100 shadow-xl">
     
      
        <div class=""> 
            <h2 class ="text-5xl font-bold">Add a Review</h2>
            <form action="/review/createReview"  method="POST"> 
             <p class ="mt-8">
                 <label for="website" class="mt-3 form-label">Your rating for <%=post.name%></label>
             </p>
        
             <div class="rating gap-1 mt-2">
              <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" />
              <input type="radio" name="rating-3" class="mask mask-heart bg-orange-400" checked />
              <input type="radio" name="rating-3" class="mask mask-heart bg-yellow-400" />
              <input type="radio" name="rating-3" class="mask mask-heart bg-lime-400" />
              <input type="radio" name="rating-3" class="mask mask-heart bg-green-400" />
            </div> 
              <!--enctype="multipart/form-data"-->
            </div>
           
            
            <div class="mb-3">
              <label for="review" class="form-label">Review</label>
              <div>
                  <textarea type="text" class="textarea" id="review" name="review" placeholder="tell us"></textarea>
              </div>
            
            </div>
          
              <input type="hidden" name="post" value="<%=post._id%>" />
              <button type="submit" class="m-2 btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
  
</div>
<!--End Form-->
   
    <!--Table of Reviews-->
<div>
 <div class="overflow-x-auto w-full flex items-center m-10">
    <table class="table w-50 justify-center">
   <thead class="bg-[#fecaca]">
      <tr>
         <th>Delete</th>
        <th>Name</th>
        <th>Date</th>
        <th>Review</th>
        <th></th>
      </tr>
    </thead>
    <% review.forEach( el=> { %>
    <!-- head -->
   
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>
          <label>
           <button class="btn btn-primary">Delete</button>
          </label>
        </th>
        <td>
          <div class="flex items-center space-x-3">
              <div class="font-bold"><%=el.userName%></div>
          </div>
        </td>
         <td><%= el.createdAt %></td>
        <td><%= el.review %></td>
      </tr>
    </tbody>
  
    <% }) %>
  </div>
</div>
</div>
</body>
</html>