<%- include('partials/postHeader') -%>
<div class="container">
  <div class="row justify-content-center ">
    <div class="col-6">
   
      <!--<img class="img-fluid" src="<%= post.image%>" />-->
      <div class="row justify-content-between">
       <!--
         <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
       --> 
       
        <%if(post.user == user.id){ %>
        <!--<form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>-->
        <%}%>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-lg font-semibold text-indigo-600"><%= post.name %></h2>
      <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900"><%= post.location %></p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto"><%= post.description %></p>
    </div>
    </div>
    <div class="col-6 mt-5">
     
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
  </div>
  
</div>



<!--Add Review Form-->

<div class="container mt-8 flex flex-col justify-center items-center">
 
      <div class="card-body m-3 card w-96 bg-base-100 shadow-xl">
<div class=""> 
            <h2 class ="text-5xl font-bold">Add a Review</h2>
            <form action="/reviews/createReview"  method="POST"> <!--enctype="multipart/form-data"-->
          
              <!-- 
              <div class="form-control">
                <div class="input-group">
                <select class="select select-bordered">
                <option disabled selected>Pick category</option>
                <option value="Health & Beauty">Health & Beauty</option>
                <option value="Home & Garden">Home & Garden</option>
                <option value="Tech Devices">Tech Devices</option>
                <option value="Apparel">Apparel</option>
                <option value="Pets">Pets</option>
                </select>
          
              </div>-->
                  <!--<div class="">
                <label for="imgUpload" class="mt-3 form-label">Image</label>
                <input type="file" class="mt-3 form-control" id="imageUpload" name="file">
              </div>-->
            </div>
              <div class="">
                  <label for="website" class="mt-3 form-label"><%=post.name%></label>
              
              </div>
            
            <div class="mb-3">
              <label for="review" class="form-label">Review</label>
              <input type="text" class="form-control" id="review" name="review" />
            </div>
          
              <input type="hidden" name="post" value="<%=post._id%>" />
              <button type="submit" class="m-2 btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    
    </div>

  
<%- include('partials/footer') -%>
