<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--FontAwesome and Daisy UI-->
 
  <script src="https://kit.fontawesome.com/46ad77d0fe.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

</head>



<%- include('partials/postHeader') -%>
<body>
<div class="bg-white py-1 h-auto bg-pink-500";>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-white  hover:text-yellow-400"><a
          href ="https://<%= post.website %>">
      <%= post.website %></a></p>
      <p class="mt-4 max-w-2xl text-xl text-white lg:mx-auto"><%= post.description %></p>
    </div>
    <!--Add Review Form-->
        <div class ="mt-8 flex flex-row justify-center items-center">
    <a class="btn btn-primary m-8" href="/feed">Return to Directory</a>
    <a class="btn btn-primary m-8" id="addReview">Add Your Review</a>
      
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
        <button class="btn btn-primary m-8" id="delete" type="submit">Delete Profile</button>
        
        </form>

        <a class="btn btn-primary m-8" id="edit">Edit Profile</a>
       

      
        
   </div>

      <div class="container mt-8 flex flex-col justify-center items-center">
 
      <div class="card-body m-3 card w-96 bg-base-100 shadow-xl" id="reviewForm">
     
      
        <div class=""> 
            <h2 class ="text-5xl font-bold">Add a Review</h2>
            <form action="/review/createReview"  method="POST"> 
             <p class ="mt-8">
                 <label for="website" class="mt-3 form-label">Your rating for <%=post.name%></label>
             </p>
        
             <div class="rating gap-1 mt-2">
              <input type="radio" name="rating" value = "1"  class="mask mask-heart bg-red-400" />
              <input type="radio" name="rating" value = "2" class="mask mask-heart bg-orange-400"  />
              <input type="radio" name="rating" value = "3"  class="mask mask-heart bg-yellow-400" />
              <input type="radio" name="rating" value = "4"  class="mask mask-heart bg-lime-400" />
              <input type="radio" name="rating" value = "5"  class="mask mask-heart bg-green-400" />
            </div> 
              <!--enctype="multipart/form-data"-->
            </div>
            
            
            
            <div class="mb-3">
              <label for="review" class="form-label">Review</label>
              <div>
                  <textarea type="text" class="textarea" id="review" name="review" placeholder="tell us what you think"></textarea>
              </div>
            
            </div>
             <div class="mb-3 w-full">
              <label for="review" class="form-label">Favorite Product</label>
              <div>
                  <textarea type="text" class="textarea" id="product" name="product" placeholder="Link to your favorite product"></textarea>
              </div>
            
            </div>
          
              <input type="hidden" name="post" value="<%=post._id%>" />
              <button type="submit" class="m-2 btn btn-primary" value="Upload" id="reviewSubBtn">Submit</button>
            </form>
          </div>
  
   </div>
 
   
  </div>  
<!--End Form-->
 
 <!--Favorite Products Image Carousel-->
</div>
<div class=" w-full justify-center items-center">
  <h1 class="m-4 max-w-2xl text-xl text-black lg:mx-auto">Favorite Items</h1>
</div>
  
<div class="carousel w-full justify-center items-center">
  <%if(review.length >0){%>
     <% review.forEach( el=> { %>
     <div id="slide1" class="carousel-item relative h-30">
    <img src="<%= el.product %>" class="bg-slate-200 block w-full mx-auto px-2 mb-2 dark:bg-black dark:outline dark:outline-1 dark:outline-slate-100"" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a> 
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div> 

 <% }) %>
    
    
    <%}%>
 
  </div>
</div>
 

<!--End Carousel-->


<div>
  
 <% review.forEach( el=> { %>
  
  <div class= 'overflow-x-auto w-full flex justify-center items-center m-10'> <!--'flex items-center justify-center min-h-screen'-->
     <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
    <div class="flex w-full items-center justify-between border-b pb-3">
      <div class="flex items-center space-x-3">
        <div class="h-8 w-8 rounded-full bg-slate-400 bg-[url("https://img.icons8.com/color/48/000000/test-account.png")]></div>
        <div class="text-lg font-bold text-slate-700"><%=user.userName%></div>
      </div>
      <div class="flex items-center space-x-8">
        
           <td>
           <div value = `${el.rating}`></div>
         
            <div class="rating gap-1 mt-2">
                <%= el.rating %>
              <input type="radio" name="rating" value = "1"  class="mask mask-heart bg-red-400" />
              <input type="radio" name="rating" value = "2" class="mask mask-heart bg-orange-400"  />
              <input type="radio" name="rating" value = "3"  class="mask mask-heart bg-yellow-400" />
              <input type="radio" name="rating" value = "4"  class="mask mask-heart bg-lime-400" />
              <input type="radio" name="rating" value = "5"  class="mask mask-heart bg-green-400" />
            </div> 
        
        </td>
         <div class="text-xs text-neutral-500"><%= el.createdAt.toDateString() %></div>
        <form
          action="/review/deleteReview/<%= el.id %>?_method=DELETE"
          method="POST"
          class="col-3">
          <button class="btn btn-primary" id="delBtn">Delete</button>
      
        </form>
       
      </div>
    </div>

    <div class="mt-4 mb-6">
      <div class="text-sm text-neutral-600"> <%= el.review %></div>
    </div>
  
    <div>
      <div class="flex items-center justify-between text-slate-500">
        <div class="flex space-x-4 md:space-x-8">
    
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% }) %>

    <!--Table of Reviews-->

</div>
</div>
<script src="/js/post.js"></script>
</body>
</html>