<%- include('partials/header') -%>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Help Others Find You</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
      <a class="btn btn-primary" href="/feed">View Directory</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="">
      <div class="">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
             
          </div>
          <div class="">
            <h2>Add a Business</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="">
                  <label for="businessName" class="form-label">Business Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
                <div class="">
                  <label for="location" class="form-label">Location</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="form-control">
                <div class="input-group">
                <select class="select select-bordered">
                <option disabled selected>Pick category</option>
                <option value="Health & Beauty">Health & Beauty</option>
                <option value="Home & Garden">Home & Garden</option>
                <option value="Tech Devices">Tech Devices</option>
                <option value="Apparel">Apparel</option>
                <option value="Pets">Pets</option>
                </select>
          
              </div>
            </div>
                  <div class="">
                  <label for="category" class="form-label">Website</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
  </div>
</div>

<%- include('partials/footer') -%>